  .form-control.is-valid,
  .was-validated .form-control:valid {
    border-color: #ced4da;
    background-image: none;
    padding-right: 0.75rem;
  }

body {
  background: linear-gradient(180deg, #e3f2fd, #ffffff);
  min-height: 100vh;
}
.navbar {
  background-color: #0d6efd !important;
}
.card {
  border: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 1rem;
}
.accordion-button:not(.collapsed) {
  background-color: #e7f1ff;
  color: #0d6efd;
  font-weight: 500;
  .remove-equipo{
    display: block;
  }
}
.form-label {
  font-weight: 500;
}
footer {
  text-align: center;
  padding: 1rem;
  color: #6c757d;
}
.btn-primary {
  background-color: #0d6efd;
  border: none;
}
.btn-primary:hover {
  background-color: #0b5ed7;
}
.modal-header {
  background-color: #0d6efd;
  color: white;
  text-align: center;
}
.modal-footer {
  border-top: none;
}
